a
{
	color: #d9534f;
}
a:hover
{
	color: #d9534f;
}
.fa-home{
	color: firebrick;
}
.col-12
{
	margin-bottom: 15px;
}
hr
{
 	border-color: firebrick;
}
button
{
	margin-left: 10px;
	margin-right: 10px;
}

